body{

    background-image: url(Images/logo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.frm{
    width: 350px;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(93deg, rgba(0,0,0,1) 0%, rgba(77,71,71,1) 0%, rgba(179,168,168,1) 100%);
    background: -webkit-linear-gradient(93deg, rgba(0,0,0,1) 0%, rgba(77,71,71,1) 0%, rgba(179,168,168,1) 100%);
    background: linear-gradient(93deg, rgba(0,0,0,1) 0%, rgba(77,71,71,1) 0%, rgba(179,168,168,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#b3a8a8",GradientType=1);
    border: 2px solid;
    border-radius: 20px;
}

.fnt{
    width: 500px;
    background-color: hsl(0, 0%, 100%);
    border: 10px;
    border-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 2px;
    margin-left: 10px;
}

.int{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-right: 10px;
}

.hd{
    text-align: center;
    font-size: 50px;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn{
    width: 150px;
    height: 25px;
    background: hsl(0, 0%, 100%);
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 15px;
}

.dt{
    text-align: center;
    font-size: 15px;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 10px;
}

.sn{
    text-align: center;
    color: hsl(0, 0%, 0%);
    text-decoration: none;
    padding: 5px;
    display: block;
}

.sn:hover{
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
}

.hn{
    text-align: center;
    font-size: 15px;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 10px;
}